.link_container

	.link_circles{:id => "yellow"}
		= link_to '', new_transaction_path

	.link_circles{:id => "green"}
		= link_to '', transactions_path

	.link_circles{:id => "mustard"}
		= link_to '', "#"

	.link_circles{:id => "orange"}
	= link_to '', vehicles_path
