%h1 Pages#home

%p
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pulvinar, erat nec elementum pellentesque, dui nunc tristique nisi, et vestibulum nisl augue ac est. Curabitur venenatis mollis hendrerit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla pellentesque cursus purus eu hendrerit. Etiam vitae dui nibh, nec hendrerit est. Curabitur fermentum fringilla magna elementum auctor. Ut ullamcorper commodo urna, quis porttitor arcu rhoncus a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis blandit ante ut pretium. Ut lorem libero, volutpat ac semper eu, porttitor ut eros. Donec varius leo non purus convallis rutrum interdum in nunc. Ut vel dolor lectus, vitae sagittis nibh. Aenean luctus, neque ac placerat blandit, lacus orci rhoncus purus, quis commodo nulla nisi quis diam. Morbi interdum mi eu lorem feugiat rutrum. Pellentesque eu nibh sit amet ante varius sollicitudin in id lectus. 

%nav
  = link_to "Register", new_user_registration_path, :class => 'btn btn-primary'