%= form_for @user do |f|
  
  .control-group
    %= f.label :email
    .controls
      %= f.text_field :email
  .control-group
    %= f.label :email
    .controls
      %= f.text_field :email

  .form-actions
    %= f.submit
    %= link_to "New", "#", :class => 'btn'



